*{
    margin: 0;
    padding: 0; 
    font-family: 'Poppins', sans-serif;
    width: auto;

}

/* navbar main */

.head{
    height: 100vh;
    width: auto;
    background-image: url("./massms/main-background.svg");
    background-size: cover;
    background-position: center;
    position: relative;
    justify-content: space-around;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 8% 8%;
    height: 5vh;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav img{
    margin-bottom: 20px;
}
.head nav i{
    display: none;
}
nav ul li a:hover{
    color: gray;
    transition: .4s;
}

.btn:hover{
    transform: scale(1.2);
}

.loginbutton{
    margin-left: 100px;
    border-radius: 25px;
    border: 1px solid white;
    padding: 10px 20px;
    background: transparent;
    width: 10%;
    font-size: 1em;
    cursor: pointer;
    color: white;
}

.trybutton{
    border-radius: 20px;
    border: 1px solid rgb(252, 214, 89);
    padding: 10px 10px;
    background: rgb(252, 214, 89);
    width: 10%;
    font-size: 1em;
    cursor: pointer;
    color: black
}

@media(max-width:400px){
    .head nav ul li a{
        display: none;
    }
    .head nav img{
        height:70px;
        width: 80px;
    }
    .head nav button{
        display: none;
    }
    .head nav i{
        display: contents;
    }
  }

/* model purplebkg*/

.modeldiv{
 bottom: 0;
 right: 0;
}
.model1img{
    float: right;
    width: 80%;
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

.textdiv{
color: white;
}

.main-head{
 margin-left: 100px;   
}
.main-head h4{
    color: #fcfcfc;
    letter-spacing: 2px;
    font-size: 15px;
}
.main-head h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
.main-head h3{
    color: white;
    font-size: 75px;
    margin-bottom: 50px;
}


.division{
    position: absolute;
}

.trybutton2{
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 50%;
    background: rgb(252, 214, 89);
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.arrow-right{
    margin-left: 10px;
    width: 19px;
    height: 12px;
    vertical-align: middle;
  }

  .yellow-check-container {
    display: flex;
    margin-top: 15px;
    align-items: center; 
  }

  .yellow-check2 {
    margin-right: 10px;
    margin-left: 5px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
  }
  
  .yellow-check-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .yellow-check-text h4 {
    margin: 0; 
  }
  

  @media(max-width:400px){
   .head{
  
    flex-direction: column;
    height: 100vh;
  
    align-content: center;
   }
   .main-head{
    align-items: center;
    margin-left: 0;
   }

   .main-head h1{
    margin: 0;
    font-size: 60px;
    text-align: center; 
   }

   .modeldiv{
    width: 120%;
   }

   .main-head h4{
    font-size: 10px;
    text-align: center;
    font-weight: bold;
   }

   .main-head h4 br{
    display: none;
    margin-bottom: 30px;
    font-weight: lighter;
   }

   .main-head button{
    align-content: center;
   }

   .trybutton2{
   margin-left: 100px;
   margin-right: 100px;
   }

   .yellow-check-container img{
    width: 12px;
    margin-top: 5px;
    margin-right: 5px;
   }

   .yellow-check-container h4{
    width: auto;
    font-size: 8px;
   }

   .yellow-check-container{
    margin-left: 80px;
   
    height: 20px;
   }
 
   .division{
    align-content: center;
   }
   yellow-check{
    width: auto;
   }

}
/* MODEL PART */

.about{
    background-color: #ffffff;
    padding: 50px ;
}

.about-text{
    width: 700px;
    text-align: center;
}

.main{

    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    color: rgb(30, 22, 110);
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: black;
    letter-spacing: 2px;
    font-size:22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p{
    color:gray;
    letter-spacing: 1px;
    line-height: 15px;
    font-size:16px;
    margin-bottom: 15px;
}

 .sky-blue {
    color: #78C0F5;
   
  }
  @media(max-width:400px){
    .about-text h2{
        text-align: center;  
        font-size: 25px;
    }
    .about-text p{
        text-align: center;
        font-size: 12px;  
    }
    .about{
        margin-top: 20px;
        padding: 0;
    }
    .about-text{
        width: 100%;
    }
  
  }


  /*cards*/


  
.box {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    padding: 0 10%;
  }

  .card {
    padding: 10px 10px;
    background: white;
    border-radius: 20px;
    margin: 20px;
    position: relative;
    overflow: visible; 
    width: 33.33%;
    height: 50%;
    text-align: left;
  }

  .install-app{
    position: absolute;
    float: right;
    margin-left: 43%;
    margin-top: 5%;
    width: 70%;
    height: auto;
  }

  .paragraph {
    max-height: 70%;
    overflow: auto;
  }

  h5{
    color: white;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.paragraph p{
    color: #C8C8C8;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button{
    background-color: white;
    color: rgb(110, 110, 110);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 15px;
    transition: 0.4s;
} 

.card .button:hover{
    background-color: solid;
    color: black;
    border: 3.5px solid rgb(0, 0, 0);
    cursor: pointer;
}

.box h3{
    margin-top: 5%;
    color: rgb(30, 22, 110);
    font-size:medium;
    text-align: left;
    padding-left: 10%;
}

.box p{
  margin-top: 5%;
  color: gray(30, 22, 110);
  font-size:medium;
  text-align: left;
  padding-left: 10%;
}

.important-contact{
    position: absolute;
    float: right;
    margin-left: 20%;
    margin-top: 20%;
    width: 100%;
    height: auto;
  }

  .schedule-sms{
    position: absolute;
    float: right;
    margin-left: 30%;
    width: 70%;
    height: auto;
  }

  @media(max-width:400px){
    
    .box{
        flex-direction: column;
        display: flex;  
    }
    .card{
        width: 260px;
        height: 300px;
        right: 20%;
    }
    .install-app{
        left: 30%;
        bottom: -10%;
    }
    .important-contact{
        top: 10%;
        left: 30%;
    }
    .schedule-sms{
        top: 10%;
        left: 30%;
    }
    
   
}


/*model whitebkg */

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    padding-top: 8rem;
  }
  
  .column-1 {
    width: 50%;
  }
  
.model-2{
    float: left;
    margin-left: 13%;
    margin-top: 3%;
    width: 100%;
    height: 100%;
    margin-right: 20%;
  }
  
  .about-text-2{
    margin-bottom: 20px;
    margin-top: 10%;
    position: relative;
  }
  
  .about-text-2 h2{
    color: rgb(30, 22, 110);
    font-size: 35px;
  }
  
  .about-text-2 h4{
    color: gray;
    font-size: 12px;
    margin-top: 2%;
  }
  
  .about-text-2 p{
    color: #C8C8C8;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 25px;
  }

  .trybutton3{
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    width: 30%;
    background: rgb(252, 214, 89);
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

@media(max-width:400px){
    
    .container{
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        margin-top: -60px;
    }
    .about-text-2 h2{
        font-size: 20px;
        text-align: center;
    }
    .about-text-2 p{
        margin-top: 5px;
        font-size: 15px;
        text-align: center;
        line-height: 15px;
    }
    .tryBtn3{
        text-align: center;
        padding: 15px 10px;
        width: 40%;
    }
    .about-text-2 h4{
        
        text-align: left;
        margin-top: 10px;
        margin-left: 50px;  
    }
    .model-2{
        float:center;
        position: relative;
        
        width: 150%;
        right: 35%; 
    }
    .about-text-2 h4 img{
       
        width: 15px;
        margin-bottom: 8px;
    }
}

    
.ender-page{
    top: 10px;
    left: 0;
  }
  .robot{
    display: block;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }
  .about-3{
   
    align-content: center;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    }
    
    .about-3 h2{
    text-align: center;
    font-size: 25px;
    }
    @media(max-width:400px){
        .end-page{
            width: 100%;
            align-content: center;
        }
        .robot{
            width: 30%;
        }
        .about-3{
            text-align: center;
            width: auto;    
        }
        .sky-blue br{
            display: none;
        }
        .spangray br{
            display: none;
        }

        
    }
    
    .about-3 p{
    text-align: center;
    
    margin-top: 1%;
    position: relative;
    font-size: 15px;
    }
    
.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    margin-bottom: 50px;
    }
    
    .card2 {
    padding: 10px 10px;
    border-radius: 20px;
    margin: 20px;
    position: relative;
    overflow: visible; 
    width: 33.33%;
    height: 50%;
    text-align: left;
    }
    .p2 {
    max-height: 70%;
    overflow: auto;
    }
    
    h5{
      color: white;
      font-size: 16px;
      line-height: 27px;
      margin-bottom: 25px;
    }
    .p2 p{
      color: #C8C8C8;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 1%;
    }
    .card2 .button{
      background-color: white;
      color: rgb(110, 110, 110);
      text-decoration: none;
      border: 2px solid transparent;
      font-weight: bold;
      padding: 10px 15px;
      transition: 0.4s;
    } 
   
    
    .box2 h3{
      margin-top: 5%;
      color: rgb(30, 22, 110);
      font-size:medium;
      text-align: left;
      padding-left: 10%;
      
    }
    
    .box2 p{
    margin-top: 5%;
    color: gray(30, 22, 110);
    font-size:medium;
    text-align: left;
    padding-left: 10%;
    
    }
    .spangray{
        color: gray;
    }
  @media(max-width:400px){
        .box2{
            flex-direction: column;
            width: auto;
        }
        .card2{
            text-align: center;
            width: 80%;
            padding: 0;
            margin: 0;
        }
        .marginbtm{
            margin-bottom: 100px;
        }
        .sky-blue{
           
            text-align: center;
        }
        .about-3{
            margin-left: 25px;
            margin-right: 25px;
        }
        .p2 img{
            margin-right: 5px;
        }

    }